[Unit]
Description=Raspberry Pi 5 Camera Streaming & OpenVINO YOLO AI Master Service
Wants=pi-camera.service pi-yolo.service
After=pi-camera.service pi-yolo.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
